<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <listener-class>
            com.peregrineairlines.context.Listener
        </listener-class>
    </listener>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>com.peregrineairlines.servlets.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckIn</servlet-name>
        <servlet-class>com.peregrineairlines.servlets.CheckIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Order</servlet-name>
        <servlet-class>com.peregrineairlines.servlets.Order</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeFlight</servlet-name>
        <servlet-class>com.peregrineairlines.servlets.ChangeFlight</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchFlights</servlet-name>
        <servlet-class>com.peregrineairlines.servlets.SearchFlights</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckIn</servlet-name>
        <url-pattern>/CheckIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Order</servlet-name>
        <url-pattern>/Order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeFlight</servlet-name>
        <url-pattern>/ChangeFlight</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchFlights</servlet-name>
        <url-pattern>/SearchFlights</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Home</welcome-file>
    </welcome-file-list>
</web-app>
